<div class="container">
    <img src="~/images/faleconosco-3.png" alt="Fale conosco" style="max-width: 50px"/>
    <div class="jumbotron">
        <h3>Queremos ouvir o que você tem a dizer</h3>
        <p>
            Se você tiver alguma dúvida ou sugestão fale conosco
        </p>
        <p>
            <span>
                <img src="~/images/envelope.jpg" style="max-width: 50px"/>
            </span>
            <h5><email endereco="macoratti@yahoo.com" conteudo="Enviar um e-mail"></email></h5>
            <br />
            <span>
                <img src="~/images/phone.png" style="max-width: 50px"/>
            </span>
            <h5>(11) 9874-5566</h5>
            <br />
            <span>
                <img src="~/images/home.png" style="max-width: 50px"/>
            </span>
            <h5>Av. Juscelino Kubichek 1000 - 03540-550 - São Paulo</h5>
        </p>
    </div>
</div>
